/* -----------------
common styles
--------------------*/
* {
    margin: 0;
}

:root {
    --primary: #3A3A3A;
    --white:#FFFFFF;
    --black: #000000;
    --theme: #E02C6D;
    --card-title: #18191F;
    --price: rgba(0, 0, 0, 0.87);
    --star: #FB8200;
    --rating: #5E6366;
    --card-description: #787885;
    --navy-blue: #0A0826;
    --section-sub-title:#6C6C6C;
    --footer-text: #D9DBE1;

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --rating-font: 'Roboto', sans-serif;
    --footer-font: 'Manrope', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    max-width: 2160px;
    margin: 0 auto;
}

main {
    margin: 0 auto;
    width: 72%;
}

section {
    margin-bottom: 100px;
}

.section-title {
    font-weight: 500;
    font-size: 28px;
    color: var(--primary);
    margin-bottom: 30px;
    text-align: center;
}

.section-sub-title {
    font-weight: 600;
    font-size: 16px;
    color: var(--section-sub-title);
}

.button-common {
    border: 0;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 700;
    background: var(--theme);
    color: var(--white);
}

.fa-arrow-right {
    margin-left: 7px;
}

/* ------------
    header 
---------------*/
header {
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    color: var(--primary);
}

/* navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 700;
    font-size: 24px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 34px;
    font-weight: 600;
    font-size: 16px;
}

.nav-item li {
    list-style: none;
}

.nav-item button {
    border: 0;
    padding: 0;
    background: none;
    display: block;
    font-size: 18px;
}

/* header-banner */
.header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 130px;
    align-items: center;
    padding: 50px 0;
    grid-template-areas: "a b";
}

.header-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: a;
}

.header-items h1 {
    font-weight: 700;
    font-size: 52px;
}

.header-items p {
    font-weight: 600;
    font-size: 16px;
}

.header-container button {
    border-radius: 41px;
}

.header-image {
    grid-area: b;
    background-image: url('../resources/images/Circle\ design.svg');
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 440px;
    width: 100%;
}

.header-image img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

/* partner */
.partner-container hr{
    border-color: rgba(192, 204, 218, 0.1);
}

.partners {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.partners img {
    object-fit: contain;
    object-position: center;
    max-width: 111px;
    width: 100%;
}

/* ------------------
    popular collection
-------------------*/
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 30px;
    justify-items: center;
}

.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #FFFFFF;
    max-width: 329px;
}

.collection img {
    max-width: 300px;
    width: 100%;
}

.collection h3 {
    font-weight: 500;
    font-size: 28px;
    color: var(--card-title);
    margin-top: 14px;
}

.collection h4 {
    font-weight: 400;
    font-size: 24px;
    color: var(--price);
    font-family: var(--secondary-font);
}

.rating {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--rating-font);
    color: var(--rating);
    margin: 10px 0 5px;
}

.rating i {
    font-size: 12px;
    color: var(--star);
}

.rating span {
    margin-left: 5px;
}

.product-description {
    font-size: 14px;
    font-weight: 700;
    font-family: var(--secondary-font);
    color: var(--card-description);
}

.popular-collection button{
    padding: 0;
    background: none;
    color: var(--theme);
}

.see-more-container {
    display: flex;
    justify-content: right;
    padding: 40px 30px 0;
}

/* ------------------
    featured products
-------------------*/
.featured-info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 80px;
    align-items: center;
    grid-template-areas: "a b";
}

.featured-info img {
    max-width: 404px;
    width: 100%;
}

.featured-img {
    grid-area: a;
}

.featured-description {
    padding-bottom: 20px;
    grid-area: b;
}

.featured-description h2 {
    color: var(--navy-blue);
    margin-bottom: 14px;
}

.featured-description p {
    margin-bottom: 14px;
}

/* ------------------
    footer 
-------------------*/
.footer-container {
    background-color: var(--navy-blue);
    color: var(--white);
    text-align: center;
    padding: 50px 0;
}

.footer-info h3 {
    font-size: 24px;
    font-weight: 700;
}

.footer-info p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--footer-text);
}

.social-icons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.social-icons .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: #9e9ad63f;
    border-radius: 50%;
}


/* ------------------
    media query 
-------------------*/

/* for mobile */
@media screen and (max-width: 576px) {
    body {
        text-align: center;
    }

    section {
        margin-bottom: 60px;
    }

    .nav-container {
        flex-direction: column;
        gap: 30px;
    }
    
    .nav-item {
        justify-content: center;
        gap: 15px;
        padding-left: 0;
    }
    
    .header-container, .collections, .featured-info {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .header-container, .featured-info {
        gap: 30px;
        justify-items: center;
        grid-template-areas: 
        "b"
        "a";
    }

    header img {
        width: 100%;
    }

    .partner-container hr {
        display: none;
    }
    
    .partners {
        grid-template-columns: repeat(3, 1fr);
    }

    .partners img {
        max-width: 60px;
    }

    .collections {
        padding: 0;
    }
}

/* for tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
    body {
        text-align: center;
    }

    .nav-container {
        flex-direction: column;
        gap: 30px;
    }
    
    .nav-item {
        justify-content: center;
        gap: 40px;
        padding-left: 0;
    }
    
    .header-container, .featured-info {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .header-container, .featured-info {
        gap: 30px;
        justify-items: center;
        grid-template-areas: 
        "b"
        "a";
    }

    header img {
        width: 100%;
    }
    
    .partners img {
        max-width: 60px;
    }

    .collections {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
}